<div id="<%= dom_id diagnostic %>">
  <p>
    <strong>Code:</strong>
    <%= diagnostic.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= diagnostic.description %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= diagnostic.sexo %>
  </p>

</div>
