<h1>Editing diagnostic</h1>

<%= render "form", diagnostic: @diagnostic %>

<br>

<div>
  <%= link_to "Show this diagnostic", @diagnostic %> |
  <%= link_to "Back to diagnostics", diagnostics_path %>
</div>
